/* uni-app 全局样式变量 */
$uni-color-primary: #1677FF;
$uni-color-success: #00B42A;
$uni-color-warning: #FF7D00;
$uni-color-error: #F53F3F;
$uni-text-color: #1F2329;
$uni-text-color-grey: #86909C;
$uni-bg-color: #F5F7FA;
$uni-border-color: #E5EAF3;
